<div>
	<table mat-table [dataSource]="dataSource">
		<ng-container matColumnDef="id">
			<th mat-header-cell *matHeaderCellDef>#</th>
			<td mat-cell *matCellDef="let defense">{{ defense.id }}</td>
		</ng-container>

		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef>Name</th>
			<td mat-cell *matCellDef="let defense">{{ defense.name }}</td>
		</ng-container>

		<ng-container matColumnDef="repoUrl">
			<th mat-header-cell *matHeaderCellDef>URL</th>
			<td mat-cell *matCellDef="let defense">{{ defense.repoUrl }}</td>
		</ng-container>
		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef></th>
			<td mat-cell *matCellDef="let defense">
				<div class="defense-wrapper">
					<button mat-icon-button aria-label="View" (click)="viewDefense(defense)">
						<mat-icon class="mat-primary">visibility</mat-icon>
					</button>

					<button mat-icon-button aria-label="Edit" (click)="editDefense(defense)">
						<mat-icon class="mat-primary">edit</mat-icon>
					</button>

					<button mat-icon-button aria-label="Remove" (click)="removeDefense(defense)">
						<mat-icon class="mat-error">delete</mat-icon>
					</button>
				</div>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
	</table>

	<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic defenses">
	</mat-paginator>
</div>
